# Preprocessing

## Load Data

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('rice_beef_coffee_price_changes.csv')

In [3]:
df

,Year,Month,Price_beef_kilo,Price_rice_kilo,Price_coffee_kilo,Inflation_rate,Price_rice_infl,Price_beef_infl,Price_coffee_infl
0,1992,Feb,2.52,0.28,1.51,89.59,0.53,4.78,2.86
1,1992,Mar,2.45,0.28,1.55,89.59,0.53,4.64,2.94
2,1992,Apr,2.38,0.28,1.45,89.59,0.53,4.51,2.75
3,1992,May,2.38,0.27,1.34,89.59,0.51,4.51,2.54
4,1992,Jun,2.33,0.27,1.30,89.59,0.51,4.42,2.46
...,...,...,...,...,...,...,...,...,...
355,2021,Sep,5.66,0.40,4.97,-1.29,0.39,5.59,4.91
356,2021,Oct,5.70,0.40,5.31,-1.29,0.39,5.63,5.24
357,2021,Nov,5.95,0.40,5.71,-1.29,0.39,5.87,5.64
358,2021,Dec,5.95,0.40,5.91,-1.29,0.39,5.87,5.83
359,2022,Jan,5.97,0.43,5.98,NaN,NaN,NaN,NaN

In [4]:
df.describe()

,Year,Price_beef_kilo,Price_rice_kilo,Price_coffee_kilo,Inflation_rate,Price_rice_infl,Price_beef_infl,Price_coffee_infl
count,360.000000,360.000000,360.000000,360.000000,347.000000,347.000000,347.000000,347.000000
mean,2006.583333,3.152056,0.364083,2.999722,36.320029,0.476167,4.044006,3.953660
std,8.671906,1.167673,0.131201,1.164001,27.062804,0.135525,0.900393,1.460999
min,1992.000000,1.630000,0.160000,1.170000,-1.290000,0.240000,2.680000,1.770000
25%,1999.000000,2.117500,0.260000,2.265000,12.370000,0.390000,3.185000,3.065000
50%,2007.000000,2.730000,0.345000,2.940000,28.300000,0.460000,4.090000,3.680000
75%,2014.000000,4.220000,0.440000,3.605000,59.700000,0.550000,4.735000,4.565000
max,2022.000000,6.170000,0.910000,6.620000,89.590000,1.120000,6.930000,9.760000

## Data Cleaning

In [5]:
# check for null
for col in df.columns:
    print(col, df[col].isnull().sum())

Year 0
Month 0
Price_beef_kilo 0
Price_rice_kilo 0
Price_coffee_kilo 0
Inflation_rate 13
Price_rice_infl 13
Price_beef_infl 13
Price_coffee_infl 13

In [6]:
df.fillna(0, inplace=True)

# Postprocessting with atoti

In [7]:
import atoti as tt

Welcome to atoti 0.6.4!

By using this community edition, you agree with the license available at https://docs.atoti.io/latest/eula.html.
Browse the official documentation at https://docs.atoti.io.
Join the community at https://www.atoti.io/register.

atoti collects telemetry data, which is used to help understand how to improve the product.
If you don't wish to send usage data, set the ATOTI_DISABLE_TELEMETRY environment variable to True.

You can hide this message by setting the ATOTI_HIDE_EULA_MESSAGE environment variable to True.

In [8]:
session = tt.create_session()

In [9]:
data = session.read_pandas(
    df,
    keys=['Year', 'Month'],
    table_name='Data'
)
data.head()

,,Price_beef_kilo,Price_rice_kilo,Price_coffee_kilo,Inflation_rate,Price_rice_infl,Price_beef_infl,Price_coffee_infl
Month,Year,,,,,,,
Feb,1992,2.52,0.28,1.51,89.59,0.53,4.78,2.86
Mar,1992,2.45,0.28,1.55,89.59,0.53,4.64,2.94
Apr,1992,2.38,0.28,1.45,89.59,0.53,4.51,2.75
May,1992,2.38,0.27,1.34,89.59,0.51,4.51,2.54
Jun,1992,2.33,0.27,1.30,89.59,0.51,4.42,2.46

In [10]:
cube = session.create_cube(data)

In [11]:
m,l,h = cube.measures, cube.levels, cube.hierarchies

In [12]:
m

Measures()

In [13]:
session.visualize()

Open the notebook in JupyterLab with the atoti extension enabled to build this widget.